# https://github.com/Written2001/stash-sh/blob/main/README.md

# STASH_URL= | default: unset (required) | values: HTTP(S) /graphql URL | example: http://stash:9999/graphql
# STASH_APIKEY= | default: unset | values: API key or empty | example: your-stash-api-key

# STASH_SCAN_COVERS=true | values: true,false
# STASH_SCAN_PREVIEWS=true | values: true,false
# STASH_SCAN_IMAGE_PREVIEWS=true | values: true,false
# STASH_SCAN_SPRITES=true | values: true,false
# STASH_SCAN_PHASHES=true | values: true,false
# STASH_SCAN_IMAGE_PHASHES=true | values: true,false
# STASH_SCAN_THUMBNAILS=true | values: true,false
# STASH_SCAN_CLIP_PREVIEWS=true | values: true,false
# STASH_SCAN_RESCAN=false | values: true,false
# STASH_SCAN_MIN_MOD_TIME= | default: unset | values: RFC3339 timestamp | example: 2026-01-01T00:00:00Z
# STASH_SCAN_PATHS= | default: unset | values: JSON string array | example: ["/media/new_content","/media/old_content"]

# STASH_GENERATE_COVERS=true | values: true,false
# STASH_GENERATE_SPRITES=true | values: true,false
# STASH_GENERATE_PREVIEWS=true | values: true,false
# STASH_GENERATE_IMAGE_PREVIEWS=true | values: true,false
# STASH_GENERATE_MARKERS=true | values: true,false
# STASH_GENERATE_MARKER_IMAGE_PREVIEWS=true | values: true,false
# STASH_GENERATE_MARKER_SCREENSHOTS=true | values: true,false
# STASH_GENERATE_TRANSCODES=true | values: true,false
# STASH_GENERATE_PHASHES=true | values: true,false
# STASH_GENERATE_INTERACTIVE_HEATMAPS_SPEEDS=true | values: true,false
# STASH_GENERATE_IMAGE_PHASHES=true | values: true,false
# STASH_GENERATE_IMAGE_THUMBNAILS=true | values: true,false
# STASH_GENERATE_CLIP_PREVIEWS=true | values: true,false
# STASH_GENERATE_FORCE_TRANSCODES=false | values: true,false
# STASH_GENERATE_OVERWRITE=false | values: true,false
# STASH_GENERATE_PREVIEW_SEGMENTS= | default: unset | values: -2147483648..2147483647 | example: 12
# STASH_GENERATE_PREVIEW_SEGMENT_DURATION= | default: unset | values: finite number (seconds) | example: 0.5
# STASH_GENERATE_PREVIEW_EXCLUDE_START= | default: unset | values: duration string | example: 10s
# STASH_GENERATE_PREVIEW_EXCLUDE_END= | default: unset | values: duration string | example: 5s
# STASH_GENERATE_PREVIEW_PRESET= | default: unset | values: ultrafast,veryfast,fast,medium,slow,slower,veryslow | example: fast
# STASH_GENERATE_SCENE_IDS= | default: unset | values: JSON string array | example: ["123","456"]
# STASH_GENERATE_MARKER_IDS= | default: unset | values: JSON string array | example: ["789"]
# STASH_GENERATE_IMAGE_IDS= | default: unset | values: JSON string array | example: ["123"]
# STASH_GENERATE_GALLERY_IDS= | default: unset | values: JSON string array | example: ["456"]
# STASH_GENERATE_PATHS= | default: unset | values: JSON string array | example: ["/media/new_content","/media/old_content"]